<footer class="main-footer">
  <div class="footer-social">
    <a href="https://facebook.com" target="_blank" aria-label="Facebook"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook"></a>
    <a href="https://instagram.com" target="_blank" aria-label="Instagram"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" alt="Instagram"></a>
    <a href="https://twitter.com" target="_blank" aria-label="Twitter"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/twitter.svg" alt="Twitter"></a>
    <a href="https://youtube.com" target="_blank" aria-label="YouTube"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/youtube.svg" alt="YouTube"></a>
  </div>
  <form class="newsletter-form">
    <label for="newsletter-email">Subscribe to our newsletter</label>
    <div class="newsletter-input-group">
      <input type="email" id="newsletter-email" placeholder="Your email address" required>
      <button type="submit">Subscribe</button>
    </div>
  </form>
  <div class="footer-copy">&copy; 2024 Sri Lanka Tourism. All rights reserved.</div>
</footer>
